[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = ">=3"

[dev-packages]
build = "*"
pytest = "*"
pytest-cov = "*"
pyparsing = "*"
pytest-redis = "*"
tox = "*"

[requires]
python_version = "3.9"
